/* General styles */

html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 12px;
  }
  
  body {
    width: 80em;
    margin: 0 auto;
  background-color: aqua;
  }
  
  /* Typography */
  
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 3.2em;
  }
  
  pli {
    font-size: 1.7em;
  }
  #uiui{
    color: rgb(255, 0, 21);
}
  /*+++ more specific section styles +++*/
  
  /* header and footer */
  
  header, footer {
    background-color: teal;
    height: 10em;
    padding: 1em;

  }
  
 
  
  h1 {
    text-align: center;
    padding: 0.5em;
    background-color: red;
    background-size: cover;
    height: 2em;
  }
  
  /* main content */
  
  main {
    padding: 2em;
  }
  
  main p, main li {
    line-height: 2;
  }
  body {
    background-image: url("https://1.bp.blogspot.com/-WT2c8WOuFPA/X5OcJmDxy8I/AAAAAAABb50/LnKRjnPVF64Ggq436nd0CU2YFq-PCuOHwCNcBGAsYHQ/s934/character_tsumayouji.png");
    background-position:left left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }
  #maa {
    background-image: url("https://1.bp.blogspot.com/-WT2c8WOuFPA/X5OcJmDxy8I/AAAAAAABb50/LnKRjnPVF64Ggq436nd0CU2YFq-PCuOHwCNcBGAsYHQ/s934/character_tsumayouji.png");
    background-position:right right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }