table,
td {
    border-collapse: collapse;
    width: 1000px;
    table-layout: fixed;
    font-size: 110%;
}
thead,
tfoot {
    font-size: 120%;
    background-color: #393232;
    color: #fff;
}

#alal{
    color: rgb(255, 0, 21);
}
/*全体*/
html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 16px;
  }
  
  body {
    width: 80em;
    margin: 0 auto;
  }
  /**/


 body {
        background-image: url(https://lh3.googleusercontent.com/pmu6pcfSdLvQuwmiuHUSpvmBzRAHI7wsODCIwvGYRpEEL-O0xF-d9GPwRt0Je1geuLQ3vIKzZH1SgEhXLR0r6ERZs-qq1tj4AvBZ8jRFv9XLCGpkbD-xL0ghs_L8AK02EEyivgJcM1O2mA8LBNe4M3cdNpMVHUkFKK4IliczqN1WDr_uPLBLZymI62SANRhqZQ5ZKXFnpLF7qaYOd1yHgKm0sR6Hov-zyQUarMv9OQXyMDPVSb_ovVWGHrK_5_0QFpzO2t6SnNu8R-VNvAebJNwz2hmyAPsbK1lo8d2ciFmr8Wv3xC2I8CmiX68HXajjyPV3-EnZ8rTNH08cOycuDXUUIUX9nQapmezaKV6aS350qdKZuhpDEQYuvBprE5wwDx0s3jF2JDsC-of-8kmmf-PyCVTdI5xaahe_JTEUz0thB1DupOCYIIxAJXpxA8PgobWKRbPb4Yz5Qo7q87gqILms50Qxt6vIvXjS5pk3kwgxhybnOjGCNfxIIZe_jlNUIVLt0-b4Iu8-85GUYiBvMKjMhuhws0Bkap1fCMNerj86XYxLV4lFTtb9VUFFk9ctt-i8gna5LhGa5FIBvzm2xaHktSUbgdFsikjfEdNkdBKZpuADTaMak3os8MMQJ7G94DRP2Ag9Dp5gBcwrgK65hBk2bBHc297KANYd7eq2HiZ4H4GsKVHJbMMRlDGLeopIfGpuBNo8sLOmAG04jwRxu8qXiu1HIdmCJ0q1xHE6xoVW6LWm0_MS=w571-h570-no?authuser=0);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        background-color: #26ccff;
      }
  
  h1, footer p {
    margin: 1px;
  }
  
  h1 {
    text-align: center;
    padding: 0.3em 0;
    font-size: 200px;
  }